:root {
    --primary-color: #ff6347;
    --secundary-green: #45d732;
    --black: #000000;
    --shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 16px;
    --white: #eeeded;
    --secundary-black: #0e0e0e; 
}


.diet__title{
    font-size: 26px;
    text-align: center;
    padding: 30px;
    font-weight: 500;
    color: var(--primary-color);
}

.diet__section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.diet__recipes{
    min-width: 65%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.diet__recipesItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: var(--border-radius);
    background-color: var(--secundary-black);    
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
}

.diet__recipesImg{
    height: 140px;
    width: 140px;
    border-radius: var(--border-radius);
}

.diet__totalResult{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border-radius: var(--border-radius);
    background-color: var(--secundary-black); 
    color: var(--white);
}

.item__totalResult{
    font-size: 16px;
}

.item__totalResult span{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700px;
}

.diet__recipesData{
    display: flex;
    flex-direction: column;
    gap: 6px; 
    align-items: center;
}

.diet__recipesData p{
    font-weight: 500;
    font-size: 16px;
    color: var(--white)
}

.diet__recipesData h4{
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-color);
}

.diet__recipesDelete{
    padding: 10px 20px;
    background-color:  var(--primary-color); 
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-left: 20px; 
}