:root {
    --primary-color: #ff6347;
    --secundary-green: #45d732;
    --black: #000000;
    --shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 16px;
    --white: #eeeded;
    --secundary-black: #0e0e0e; 
}


.home__landing {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 50px;
    height: 100vh; 
    background-image: url('img/fondo landing.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.homeLanding__left {
    max-width: 50%; 
    color: var(--white); 
}

.homeLanding__title {
    font-size: 3rem;
    font-weight: bold;
}

.homeLanding__subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
}

.homeLanding__button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: var(--primary-color); 
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: 0.3s;
}

.homeLanding__button:hover {
    background-color: #e5533d;
}

.homeLanding__right {
    max-width: 50%; /* Ajusta el ancho de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeLanding__img {
    max-width: 100%;
    height: auto;
}


.home__stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-bottom: 140px;
}


.homeStats__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 270px;
    border-radius: var(--border-radius);
    height: 280px;
    padding: 20px;
    background-color: var(--secundary-black);
}



.homeItem__img {
    height: 100px;
    width: 100px;
}

.homeItem__title {
    color: var(--primary-color);
}

.homeItem__text {
    text-align: center;
    color: var(--white);
}

