:root {
    --primary-color: #ff6347;
    --secundary-green: #45d732;
    --black: #000000;
    --shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 16px;
    --white: #eeeded;
    --secundary-black: #0e0e0e; 
}

.recipe__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    min-height: 85vh;
}

.recipe__parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 80%; 
    height: 700px;
    margin-top: 40px;
}

.recipe__div1 {
    background-color: var(--secundary-black);
    grid-area: 1 / 1 / 2 / 6;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe__div2 {
    background-color: var(--secundary-black);
    grid-area: 2 / 1 / 5 / 4;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.recipe__div3 {
    background-color: var(--secundary-black);
    grid-area: 5 / 1 / 6 / 6;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe__div4 {
    background-color: var(--secundary-black);
    grid-area: 2 / 4 / 5 / 6;
    border-radius: var(--border-radius);
}


.recipe__img{
    width: 100%;
}

.recipe__title{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: var(--primary-color);
    text-align: center;
}


.ingredients__title{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    color: var(--primary-color);
}

.ingredients__list{
    margin-top: 15px;
    list-style: none;
    color: var(--white);
}


.ingredients__list li{
    text-align: center;
    padding: 5px;
}

.recipe__information{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 15px; 
}

.recipe__itemInformation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe p{
    color: var(--white);
}

.recipe h4{
    color: var(--primary-color);
    text-align: center;
    margin-top: 10px; 
    font-weight: 500;
    font-size: 20px;
} 