:root{
    --primary-color: #2e4c21;
    --secundary-color: #dde7e1; 
    --secundary-green:#45d732; 
    --grey: #D5E6CF; 
    --black: #333;
    --shadow: 2px 4px 6px rgba(0,0, 0, 0.1); 
    --border-radius: 16px; 
    --white: #eeeded;
}


.home__intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    width: 100%;
    min-height: 500px;
}

.home__title{
    margin-top: 30px;
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 500;
}

.home__subtitle{
    margin-top: 22px;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
}

.homeIntro__left{
    width: 50%;
}

.homeIntro__right{
    width: 50%;
}