:root{
    --primary-color: #2e4c21;
    --secundary-green: #4bc318; 
    --secundary-color: #dde7e1; 
    --grey: #D5E6CF; 
    --black: #333;
    --shadow: 2px 4px 6px rgba(0,0, 0, 0.1); 
    --border-radius: 16px; 
    --white: #eeeded;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--secundary-color);
    font-family: 'Roboto', sans-serif;
}

.layout {
    width: 85%;
    margin: 0 auto;
}

.header{
    height: 12vh;
    border-bottom: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px; 
}

.header__nav li{
    list-style: none;
}


.header__link{
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}


.header__link:hover{
    color: var(--primary-color);
}

.header__linkA{
    color: var(--secundary-green); 
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.section{
    min-height: 80vh;
}

.footer{
    width: 100%;
    height: 8vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--black);
}
.footer__text{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}




/* página crea tu dieta, maquetación de los alimentos */

.food__title{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    letter-spacing: 1.2px;
}


.food__filter{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.food__input{
    padding: 10px 20px;
    box-shadow: var(--shadow);
    
}

.food__select{
    padding: 10px 20px;
    box-shadow: var(--shadow);
    border-left: none;

}


.food__section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.food__item{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-self: center;
    width: 290px;
    height: 400px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background-color: var(--white);
}


.food__img{
    width: 160px;
    height: 160px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.food__img:hover{
    transform: scale(1.02);
}

.food__category{
    margin-top: 10px;
    font-size: 1rem; 
    padding: 4px 12px;
    color: var(--primary-color);
}

.food__name{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

.food__stats{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.food__metrics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}


.food__text{
    font-size: 16px;
}

.food__metric{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: bold;
}

.food__buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}


.food__button{
    width: 100px;
    padding: 8px 14px; 
    border-radius: var(--border-radius);
    cursor: pointer;
    color: white;
    border: none;
}

.food__button:hover{
    transform: scale(1.04);
}

.button__viewMore{
    background-color: var(--primary-color);
}

.button__addToDiet{
    background-color: var(--secundary-green);
}

